/* configuarabel style */
.tree-view{
    /* background-color:  */
    margin-left:30px;
    margin-right: 30px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.tree-node{
    /* color: */
    /* background-color: ; */
    cursor: default;
}
.my-drop-down{
    display: block;
    position: absolute;
    background-color:rgb(192, 227, 243);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top:-20px

}
.tree-child{
    /* color: */
    /* background-color: */
    padding-left:10px;
    cursor: pointer;
    
}
.tree-child:hover{
    background-color: rgb(153, 212, 216)
}
/*configuarabel style  */

li,ul{
    list-style-type: none;
}
.tree-ul{
    padding: 4px;
    margin:0px;
}
.tree-node-expand::after {
    content: "▼";
    display: inline-block;
    font-size: 83%;
    margin-left: 0.5em;
    vertical-align: center;
}
.tree-node-collapsed::after {
    content: "▶";
    display: inline-block;
    font-size: 83%;
    margin-left: 0.5em;
    vertical-align: center;
}
